body {
    margin: 0;
}
nav {
    font-family: 'STIX Two Math', serif;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 20%;
    margin: calc(10%/6);
    margin-bottom: auto;
    padding: 0.4em;
    border: 0 solid black;
    border-bottom-width: 1px;
}
img {
    width: 30%;
    margin: calc(10%/6)
}