<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <h1>home page <%= "hello world" .toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eos illo incidunt velit reprehenderit
                necessitatibus animi, modi temporibus quibusdam quam, asperiores libero voluptate, labore eius ut
                repellendus
                cupiditate consequuntur commodi.</p>
    </body>

    <%- include("partials/footer") %>