<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <h1>Not Found!</h1>
            <h2>Sorry, we don't have subreddit for <%= subreddit %>
            </h2>
    </body>

    <%- include("partials/footer") %>